<h1 class="text-2xl font-bold mb-4">Countries</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New Country"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'countries/create:view'"
  ></p-button>
  <p-button
    label="Populate Countries"
    severity="success"
    icon="pi pi-refresh"
    *bifiAppDebugMode
    (onClick)="populateCountries()"
    [disabled]="populationLoading()"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by name, code, currency code and currency symbol"
  [searchFilters]="countryFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [columns]="countryColumns"
  [data]="countries"
  [onClickRow]="goToEditCountry"
  clickRowPermission="countries/update:view"
>
  <ng-template #actions let-row>
    <bifi-app-buttons-actions
      (deleteClicked)="deleteCountry(row._id)"
      resource="countries"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
