<h1 class="text-2xl font-bold mb-4">{{ 'pageTitle' | translate: {} : 'base-app/countries' }}</h1>

<div class="flex gap-2 mb-4">
  <p-button
    [label]="'addNew' | translate: {} : 'base-app/countries'"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'countries/create:view'"
  ></p-button>
  <p-button
    [label]="'populateCountries' | translate: {} : 'base-app/countries'"
    severity="success"
    icon="pi pi-refresh"
    *bifiAppDebugMode
    (onClick)="populateCountries()"
    [disabled]="populationLoading()"
  ></p-button>
</div>

<bifi-app-search-bar
  [label]="'searchPlaceholder' | translate: {} : 'base-app/countries'"
  [searchFilters]="countryFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [infiniteScroll]="true"
  [columns]="countryColumns"
  [data]="countries"
  [onClickRow]="goToEditCountry"
  clickRowPermission="countries/update:view"
  [scope]="'base-app/countries'"
>
  <ng-template #actions let-row>
    <bifi-app-buttons-actions
      (deleteClicked)="deleteCountry(row._id)"
      resource="countries"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
