<bifi-app-form-layout
  title="{{ isUpdate() ? 'Update' : 'Create' }} Policy"
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
    ></bifi-app-form-actions>

    @if (!loading()) {
      <bifi-app-form-section title="General information" id="form-general" [ordinal]="1">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <bifi-app-form-field>
            <bifi-app-form-label>Name</bifi-app-form-label>
            <input pInputText formControlName="name" type="text" placeholder="e.g Asset READ" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Resource</bifi-app-form-label>
            <input pInputText formControlName="resource" type="text" placeholder="e.g assets" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Type</bifi-app-form-label>
            <div class="flex flex-wrap gap-4 mt-2">
              <div class="flex items-center">
                <p-radiobutton formControlName="type" value="model" inputId="type-model" />
                <label for="type-model" class="ml-2">Model</label>
              </div>

              <div class="flex items-center">
                <p-radiobutton formControlName="type" value="view" inputId="type-view" />
                <label for="type-view" class="ml-2">View</label>
              </div>

              <div class="flex items-center">
                <p-radiobutton formControlName="type" value="menu" inputId="type-menu" />
                <label for="type-menu" class="ml-2">Menu</label>
              </div>
            </div>
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>
        </div>
      </bifi-app-form-section>

      <bifi-app-form-section title="Conditions" id="form-conditions" [ordinal]="2">
        <p-button
          label="Add Condition"
          icon="pi pi-plus"
          severity="secondary"
          (onClick)="addCondition()"
          styleClass="mb-4"
        ></p-button>

        <div formArrayName="conditions" class="flex flex-col gap-4 w-full">
          @for (control of form.controls.conditions.controls; track control; let i = $index) {
            <bifi-app-form-section
              [title]="`${i + 1}. Condition`"
              [formGroupName]="i"
              [ordinal]="i + 1"
              [id]="`condition-${i}`"
            >
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <bifi-app-form-field>
                  <bifi-app-form-label>Key</bifi-app-form-label>
                  <input pInputText formControlName="key" type="text" />
                  <bifi-app-form-error></bifi-app-form-error>
                </bifi-app-form-field>

                <bifi-app-form-field>
                  <bifi-app-form-label>Condition</bifi-app-form-label>
                  <p-select
                    formControlName="operator"
                    [options]="conditionOperatorOptions"
                    optionLabel="label"
                    optionValue="value"
                    [filter]="true"
                  ></p-select>
                  <bifi-app-form-error></bifi-app-form-error>
                </bifi-app-form-field>

                <bifi-app-form-field>
                  <bifi-app-form-label>Value</bifi-app-form-label>
                  <input pInputText formControlName="value" type="text" />
                  <bifi-app-form-error></bifi-app-form-error>
                </bifi-app-form-field>

                <div class="flex justify-end">
                  <p-button
                    icon="pi pi-times"
                    severity="danger"
                    variant="text"
                    severity="danger"
                    (onClick)="removeCondition(i)"
                  ></p-button>
                </div>
              </div>
            </bifi-app-form-section>
          }
        </div>
      </bifi-app-form-section>
    } @else if (error()) {
      <p>Something went wrong... {{ error() }}</p>
    } @else {
      <p-progress-bar mode="indeterminate" [className]="'w-full h-[5px]'"></p-progress-bar>
    }
  </form>
</bifi-app-form-layout>
