<div class="grid gap-3">
  <!--  lg:grid-cols-[auto_1fr] -->
  <!-- <aside class="justify-end hidden lg:flex">
    <bifi-app-form-navigator></bifi-app-form-navigator>
  </aside> -->
  <div>
    <h3
      [bifiAppText]="titleVariant()"
      class="mb-3 w-full"
      [ngClass]="{
        'text-start': titlePosition() === 'left',
        'text-center': titlePosition() === 'center',
        'text-end': titlePosition() === 'right',
      }"
    >
      {{ title() }}
    </h3>
    <ng-content select="div"></ng-content>
  </div>
</div>
