/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* TailwindCSS: Style asset roaster library */
/* @source "../../../dist/asset-roaster/"; */
@source "../../../projects/asset-roaster/";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --toolbar-color: #1a1f3b;
}
