<p-dialog
  [header]="'downloadDialog.header' | translate: {} : 'base-app/reporting'"
  [(visible)]="dialogState"
  [modal]="true"
  styleClass="w-full max-w-full sm:max-w-sm md:max-w-md max-h-[90vh]"
>
  @if (isLoading()) {
    <p>{{ 'downloadDialog.loading' | translate: {} : 'base-app/reporting' }}</p>
  } @else {
    <div class="flex flex-col gap-6">
      <bifi-app-form-field>
        <bifi-app-form-label>{{ 'downloadDialog.reportingLabel' | translate: {} : 'base-app/reporting' }}</bifi-app-form-label>
        <p-select
          appendTo="body"
          [(ngModel)]="selectedReporting"
          [options]="reportingTemplates()"
          optionLabel="title"
          optionValue="_id"
          [filter]="true"
        ></p-select>
        <bifi-app-form-error></bifi-app-form-error>
      </bifi-app-form-field>

      <p-button
        [label]="'downloadDialog.download' | translate: {} : 'base-app/reporting'"
        [icon]="isReportDownloadLoading() ? 'pi pi-spin pi-spinner' : 'pi pi-download'"
        (onClick)="downloadReport()"
        [disabled]="isReportDownloadLoading() || !selectedReporting()"
      ></p-button>
    </div>
  }
</p-dialog>
