<bifi-app-form-layout
  [title]="
    (isUpdate() ? 'form.pageTitle.update' : 'form.pageTitle.create')
      | translate: {} : 'base-app/reporting'
  "
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
    ></bifi-app-form-actions>

    @if (!loading()) {
      <bifi-app-form-section
        [title]="'form.generalInfo.title' | translate: {} : 'base-app/reporting'"
        id="form-general"
        [ordinal]="1"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <bifi-app-form-field>
            <bifi-app-form-label>
              {{ 'form.generalInfo.titleLabel' | translate: {} : 'base-app/reporting' }}
            </bifi-app-form-label>
            <input
              pInputText
              formControlName="title"
              type="text"
              [placeholder]="
                'form.generalInfo.titlePlaceholder' | translate: {} : 'base-app/reporting'
              "
            />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>
              {{ 'form.generalInfo.model' | translate: {} : 'base-app/reporting' }}
            </bifi-app-form-label>
            <p-select filter formControlName="model" [options]="modelsList()"></p-select>
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>
        </div>
      </bifi-app-form-section>

      <bifi-app-form-section
        [title]="'form.templateEditor.title' | translate: {} : 'base-app/reporting'"
        id="template-editor"
        [ordinal]="2"
      >
        @if (isUpdate()) {
          <div class="mb-4">
            <p-button
              [label]="'form.templateEditor.tryReport' | translate: {} : 'base-app/reporting'"
              [icon]="isReportDownloadLoading() ? 'pi pi-spin pi-spinner' : 'pi pi-download'"
              (onClick)="downloadReport()"
              [disabled]="isReportDownloadLoading()"
              *bifiAppHasPermission="'reporting/generate-report:read:model'"
            ></p-button>
          </div>
        }

        <bifi-app-form-field>
          <bifi-app-form-code-editor
            formControlName="template"
            language="text/html"
          ></bifi-app-form-code-editor>
          <bifi-app-form-error></bifi-app-form-error>
        </bifi-app-form-field>
      </bifi-app-form-section>
    } @else if (error()) {
      <p>{{ 'error.somethingWentWrong' | translate: {} : 'base-app/reporting' }} {{ error() }}</p>
    } @else {
      <p-progress-bar mode="indeterminate" [className]="'w-full h-[5px]'"></p-progress-bar>
    }
  </form>
</bifi-app-form-layout>
