@let isConfirmed = user().confirmed;

<bifi-app-form-layout
  [title]="isConfirmed ? 'Profile' : 'Finish registration'"
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
      [showCancel]="isConfirmed"
    ></bifi-app-form-actions>

    @if (!loading()) {
      <bifi-app-form-section title="Profile Information" id="general-info" [ordinal]="1">
        <div class="mb-6">
          <img [src]="pictureUrl()" alt="User Photo" class="w-32 h-32 rounded-full" />
        </div>

        <bifi-app-form-uploader formArrayName="uploadedPictureId" class="w-full">
          <p-fileupload
            showUploadButton="false"
            showCancelButton="false"
            name="images"
            [multiple]="false"
            accept="image/*"
            maxFileSize="100000000"
            mode="basic"
          >
            <ng-template #empty>
              <div>Drag and drop files to here to upload.</div>
            </ng-template>
          </p-fileupload>
        </bifi-app-form-uploader>

        <section class="w-full grid gap-3 sm:grid-cols-2 mt-4">
          <!-- <div class="mb-6">
            <img [src]="pictureUrl()" alt="User Photo" class="w-32 h-32 rounded-full" />
          </div> -->

          <!-- <input
            type="file"
            accept="image/*"
            class="hidden"
            #fileInput
            (change)="handleFileChange($event)"
          />
          <p-button
            label="Upload photo"
            severity="secondary"
            (onClick)="fileInput.click()"
            icon="pi-upload"
          ></p-button> -->

          <bifi-app-form-field>
            <bifi-app-form-label>Username</bifi-app-form-label>
            <input pInputText formControlName="username" type="text" placeholder="Username" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>
          <!-- <bifi-app-form-field>
            <bifi-app-form-label>Email</bifi-app-form-label>
            <input pInputText formControlName="email" type="text" placeholder="Email" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field> -->

          <bifi-app-form-field>
            <bifi-app-form-label>
              {{ type() === 'individual' ? 'First Name' : 'Company Name' }}
            </bifi-app-form-label>
            <input
              pInputText
              formControlName="name"
              type="text"
              placeholder="{{ type() === 'individual' ? 'First Name' : 'Company Name' }}"
            />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          @if (type() === 'individual') {
            <bifi-app-form-field>
              <bifi-app-form-label>Last Name</bifi-app-form-label>
              <input pInputText formControlName="lastName" type="text" placeholder="Last Name" />
              <bifi-app-form-error></bifi-app-form-error>
            </bifi-app-form-field>
          }

          <bifi-app-form-field>
            <bifi-app-form-label>Phone Number</bifi-app-form-label>
            <input
              pInputText
              formControlName="phoneNumber"
              type="text"
              placeholder="Phone Number"
            />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Contact email</bifi-app-form-label>
            <input
              pInputText
              formControlName="contactEmail"
              type="text"
              placeholder="Contact email"
            />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          @if (type() === 'company') {
            <bifi-app-form-field>
              <bifi-app-form-label>Website</bifi-app-form-label>
              <input pInputText formControlName="website" type="text" placeholder="Website" />
              <bifi-app-form-error></bifi-app-form-error>
            </bifi-app-form-field>
          }
        </section>
      </bifi-app-form-section>
    } @else if (error()) {
      <p>Something went wrong... {{ error() }}</p>
    } @else {
      <p-progress-bar mode="indeterminate" [className]="'w-full h-[5px]'"></p-progress-bar>
    }
  </form>
</bifi-app-form-layout>
