<bifi-app-form-layout
  [title]="(isUpdate() ? 'translations.form.pageTitle.update' : 'translations.form.pageTitle.create') | translate: {} : 'base-app/translation'"
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
    ></bifi-app-form-actions>

    @if (!loading()) {
      <bifi-app-form-section [title]="'form.generalInfo.title' | translate: {} : 'base-app/translation'" id="form-general" [ordinal]="1">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'translations.form.locale' | translate: {} : 'base-app/translation' }}</bifi-app-form-label>
            <input pInputText formControlName="locale" type="text" [placeholder]="'translations.form.localePlaceholder' | translate: {} : 'base-app/translation'" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'translations.form.scope' | translate: {} : 'base-app/translation' }}</bifi-app-form-label>
            <input pInputText formControlName="scope" type="text" [placeholder]="'translations.form.scopePlaceholder' | translate: {} : 'base-app/translation'" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'translations.form.key' | translate: {} : 'base-app/translation' }}</bifi-app-form-label>
            <input pInputText formControlName="key" type="text" [placeholder]="'translations.form.keyPlaceholder' | translate: {} : 'base-app/translation'" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'translations.form.value' | translate: {} : 'base-app/translation' }}</bifi-app-form-label>
            <input pInputText formControlName="value" type="text" [placeholder]="'translations.form.valuePlaceholder' | translate: {} : 'base-app/translation'" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.status.active' | translate: {} : 'base-app/translation' }}</bifi-app-form-label>
            <p-toggleswitch formControlName="active"></p-toggleswitch>
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>
        </div>
      </bifi-app-form-section>
    } @else if (error()) {
      <p>{{ 'error.somethingWentWrong' | translate: {} : 'base-app/translation' }} {{ error() }}</p>
    } @else {
      <p-progress-bar mode="indeterminate" [className]="'w-full h-[5px]'"></p-progress-bar>
    }
  </form>
</bifi-app-form-layout>
