<h1 class="text-2xl font-bold mb-4">Branch Offices</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New Branch Office"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'branch-offices/create:view'"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by name, code, address or company"
  [searchFilters]="branchOfficeFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [columns]="branchOfficeColumns"
  [data]="branchOffices"
  [onClickRow]="gotoEditBranchOffice"
  clickRowPermission="branch-offices/update:view"
>
  <ng-template #actions let-element>
    <bifi-app-buttons-actions
      (deleteClicked)="deleteBranchOffice(element._id)"
      resource="branch-offices"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
