<h1 class="text-2xl font-bold mb-4">Branch Offices</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New Branch Office"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'branch-offices/create:view'"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by name, code, address or company"
  [searchFilters]="branchOfficeFilters"
></bifi-app-search-bar>

<bifi-app-table-layout [columns]="branchOfficeColumns" [data]="branchOffices">
  <ng-template #actions let-element>
    <p-button
      *bifiAppHasPermission="'branch-offices/update:view'"
      severity="secondary"
      label="Edit"
      icon="pi pi-pencil"
      routerLink="../edit/{{ element._id }}"
    ></p-button>
    <p-button
      *bifiAppHasPermission="'branch-offices:delete:model'"
      severity="danger"
      label="Delete"
      icon="pi pi-trash"
      (onClick)="deleteBranchOffice(element._id)"
    ></p-button>
  </ng-template>
</bifi-app-table-layout>
