<h1 class="text-2xl font-bold mb-4">Policies</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New Policy"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'policies/create:view'"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by name, resource and action"
  [searchFilters]="policyFilters"
></bifi-app-search-bar>

<bifi-app-table-layout [columns]="policyColumns" [data]="policies" [onClickRow]="gotoEditPolicy" clickRowPermission="policies/update:view"  >
  <ng-template #actions let-element>
    <!-- <p-button
      severity="secondary"
      label="Edit"
      icon="pi pi-pencil"
      (onClick)="goToEdit(element._id)"
      *bifiAppHasPermission="'policies/update:view'"
    ></p-button>
    <p-button
      *bifiAppHasPermission="'policies:delete:model'"
      severity="danger"
      label="Delete"
      (onClick)="deletePolicy(element._id)"
      icon="pi pi-trash"
    ></p-button> -->
  <bifi-app-buttons-actions
      (deleteClicked)="deletePolicy(element._id);"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
