<h1 class="text-2xl font-bold mb-4">{{ 'pageTitle' | translate: {} : 'base-app/policies' }}</h1>

<div class="flex gap-2 mb-4">
  <p-button
    [label]="'addNew' | translate: {} : 'base-app/policies'"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'policies/create:view'"
  ></p-button>
</div>

<bifi-app-search-bar
  [label]="'searchPlaceholder' | translate: {} : 'base-app/policies'"
  [searchFilters]="policyFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [infiniteScroll]="true"
  [columns]="policyColumns"
  [data]="policies"
  [onClickRow]="gotoEditPolicy"
  clickRowPermission="policies/update:view"
>
  <ng-template #actions let-element>
    <bifi-app-buttons-actions
      (deleteClicked)="deletePolicy(element._id)"
      resource="policies"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
