@let state = resourceState();
@let pagination = state.pagination;

<div
  [ngClass]="{ 'h-[600px] overflow-y-scroll': infiniteScroll() }"
  [bifiAppInfiniteScroll]="$any(data())"
>
  <p-table
    sortMode="multiple"
    (onLazyLoad)="lazyLoad($event)"
    [lazy]="true"
    [value]="state.value"
    [loading]="state.isLoading && !state.hasValue"
    class="w-full"
    [paginator]="!infiniteScroll()"
    [rows]="pagination?.limit ?? 10"
    [first]="pagination && pagination?.page ? (pagination.page - 1) * (pagination?.limit ?? 5) : 0"
    [totalRecords]="pagination?.totalDocs ?? 0"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} ({totalPages} pages)"
    [pageLinks]="5"
    [expandedRowKeys]="expandContent() ? expandedRows : undefined"
    [groupRowsBy]="expandContent() ? '_id' : undefined"
  >
    <!-- HEADER -->
    <ng-template #header>
      <tr>
        @if (expandContent()) {
          <th></th>
        }

        @for (column of columns(); track column.field) {
          @if (column.sortable) {
            <th [pSortableColumn]="column.field">
              <div class="flex items-center gap-2 whitespace-nowrap">
                {{ column.title }}
                <p-sortIcon [field]="column.field"></p-sortIcon>
              </div>
            </th>
          } @else {
            <th class="whitespace-nowrap">
              {{ column.title }}
            </th>
          }
        }

        @if (actions()) {
          <th></th>
        }
      </tr>
    </ng-template>

    <!-- BODY -->
    <ng-template #body let-element let-expanded="expanded">
      <tr
        (click)="onClickRow() && hasClickRowPermission() ? onClickRow()?.(element) : null"
        [class.cursor-pointer]="onClickRow() && hasClickRowPermission()"
        [class.hover:bg-gray-200!]="onClickRow() && hasClickRowPermission()"
      >
        @if (expandContent()) {
          <td>
            <p-button
              type="button"
              pRipple
              [pRowToggler]="element"
              [text]="true"
              severity="secondary"
              [rounded]="true"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            />
          </td>
        }

        @for (column of columns(); track column.field) {
          <td>
            @let value = getValue(element, column.field);

            @if (column.parseField) {
              {{ column.parseField(value) }}
            } @else if (column.component) {
              @let component =
                typeof column.component === 'function'
                  ? column.component(element)
                  : column.component;

              <ng-container *bifiAppDynamicComponent="component"></ng-container>
            } @else if (column.template) {
              <ng-container
                *ngTemplateOutlet="column.template; context: { $implicit: element }"
              ></ng-container>
            } @else if (column.type === 'image') {
              <img
                [src]="value"
                alt="image"
                class="w-[75px] h-[75px] object-cover rounded-full my-4"
              />
            } @else {
              @if (column.type === 'date') {
                {{ value ? (value | date) : 'Not set' }}
              } @else if (column.type === 'currency') {
                {{ value ? (value | currency: column.currencySymbol ?? '$') : 'Not set' }}
              } @else {
                {{ value ?? 'Not set' }}
              }
            }
          </td>
        }

        @if (actions()) {
          <td>
            <div class="flex gap-2 items-center justify-center">
              <ng-template
                [ngTemplateOutlet]="actions()"
                [ngTemplateOutletContext]="{ $implicit: element }"
              ></ng-template>
            </div>
          </td>
        }
      </tr>
    </ng-template>

    <!-- EXPANDED ROW -->
    @if (expandContent()) {
      <ng-template #expandedrow let-element>
        <tr>
          <td [colSpan]="columns().length + (actions() ? 1 : 0) + 1">
            <ng-template
              [ngTemplateOutlet]="expandContent()"
              [ngTemplateOutletContext]="{ $implicit: element }"
            ></ng-template>
          </td>
        </tr>
      </ng-template>
    }

    <!-- EMPTY -->
    <ng-template #emptymessage>
      <tr>
        <td [colSpan]="columns().length + (actions() ? 1 : 0) + (expandContent() ? 1 : 0)">
          <div class="flex flex-col justify-center items-center h-full w-full rounded-md p-4">
            <i class="pi pi-search mb-4 font-bold" [bifiAppIcon]="'xl'"></i>
            <p class="mb-2 font-light text-2xl">No Results Found</p>
            <p class="mb-0 font-light">
              No results match your current search term or filter selection
            </p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

@if (infiniteScroll()) {
  <span
    [bifiAppText]="'paragraph'"
    class="text-blue-400 m-4 w-100 flex flex-row justify-start items-center gap-2"
  >
    <i class="pi pi-info-circle"></i>
    Scroll down to load more
  </span>
}
