<h1 class="text-2xl font-bold mb-4">Exchange Rates</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New Rate"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'exchange-rates/create:view'"
  ></p-button>
  <p-button
    label="Back to Currencies"
    severity="secondary"
    icon="pi pi-arrow-left"
    [routerLink]="['/settings/currencies']"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by currency code"
  [searchFilters]="exchangeRateFilters"
></bifi-app-search-bar>

<bifi-app-table-layout [columns]="exchangeRateColumns" [data]="exchangeRates" [onClickRow]="goToEditExchangeRate" clickRowPermission="exchange-rates/update:view"   >
  <ng-template #actions let-element>
    <!-- <p-button
      *bifiAppHasPermission="'exchange-rates/update:view'"
      severity="secondary"
      label="Edit"
      icon="pi pi-pencil"
      routerLink="../edit/{{ element._id }}"
    ></p-button>
    <p-button
      *bifiAppHasPermission="'exchange-rates:delete:model'"
      severity="danger"
      label="Delete"
      icon="pi pi-trash"
      (onClick)="deleteExchangeRate(element._id)"
    ></p-button> -->
  <bifi-app-buttons-actions
      (deleteClicked)="deleteExchangeRate(element._id);"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
