<h1 class="text-2xl font-bold mb-4">
  {{ 'exchangeRate.pageTitle' | translate: {} : 'base-app/currency' }}
</h1>

<div class="flex gap-2 mb-4">
  <p-button
    [label]="'exchangeRate.addNew' | translate: {} : 'base-app/currency'"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'exchange-rates/create:view'"
  ></p-button>
  <p-button
    [label]="'exchangeRate.backToCurrencies' | translate: {} : 'base-app/currency'"
    severity="secondary"
    icon="pi pi-arrow-left"
    [routerLink]="['/settings/currencies']"
  ></p-button>
</div>

<bifi-app-search-bar
  [label]="'exchangeRate.searchPlaceholder' | translate: {} : 'base-app/currency'"
  [searchFilters]="exchangeRateFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [infiniteScroll]="true"
  [columns]="exchangeRateColumns"
  [data]="exchangeRates"
  [onClickRow]="goToEditExchangeRate"
  clickRowPermission="exchange-rates/update:view"
  [scope]="'base-app/currency'"
>
  <ng-template #actions let-element>
    <bifi-app-buttons-actions
      (deleteClicked)="deleteExchangeRate(element._id)"
      resource="exchange-rates"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
