<div
  [class]="inline() ? 'flex items-center justify-center gap-2' : ''"
  (click)="handleClick()"
  (keydown)="handleKeyDown($event)"
  tabindex="0"
>
  <ng-content>
    <p-fileupload
      #uploader
      [multiple]="true"
      maxFileSize="1000000"
      mode="advanced"
      [customUpload]="true"
      [showUploadButton]="false"
      [disabled]="disabled()"
    >
      <ng-template #empty>
        <div>Drag and drop files to here to upload.</div>
      </ng-template>
    </p-fileupload>
  </ng-content>

  @if (formValue().length > 0) {
    @if (!inline()) {
      <div class="mt-1"></div>
    }
    <p-button
      [variant]="inline() ? 'outlined' : 'text'"
      icon="pi pi-trash"
      severity="danger"
      label="Clear"
      [size]="inline() ? 'small' : undefined"
      (onClick)="onPrimeFileClear()"
    ></p-button>
  }
</div>
