<div
  [class]="inline() ? 'flex items-center justify-center gap-2' : ''"
  (click)="handleClick()"
  (keydown)="handleKeyDown($event)"
  tabindex="0"
>
  <ng-content>
    <p-fileupload
      #uploader
      [multiple]="true"
      maxFileSize="1000000"
      mode="advanced"
      [customUpload]="true"
      [showUploadButton]="false"
      [disabled]="disabled()"
    >
      <ng-template #empty>
        <div>Drag and drop files to here to upload.</div>
      </ng-template>
    </p-fileupload>
  </ng-content>

  @if (formValue().length > 0 && !inline()) {
    <div class="flex flex-col gap-1 mt-2">
      @for (item of formValue(); track $index) {
        @let file = item.file;
        @if (file) {
          <div class="flex items-center gap-2 text-sm text-gray-600">
            <i class="pi pi-file"></i>
            <span>{{ file.name }}</span>
          </div>
        }
      }
    </div>
  }
  @if (formValue().length > 0) {
    @if (!inline()) {
      <div class="mt-1"></div>
    }
    <p-button
      [variant]="inline() ? 'outlined' : 'text'"
      icon="pi pi-trash"
      severity="danger"
      label="Clear"
      [size]="inline() ? 'small' : undefined"
      (onClick)="onPrimeFileClear()"
    ></p-button>
  }
</div>
