@let loggedUser = user();

@if (loggedUser) {
  <p-toolbar class="w-full h-[75px]">
    <ng-template #start>
      @if (isSidenavAvailable()) {
        <p-button
          icon="pi pi-bars"
          (onClick)="isOpened() ? sidenavManager.closeSidenav() : sidenavManager.openSidenav()"
          variant="text"
          severity="contrast"
        ></p-button>
      }

      <p-button
        icon="pi pi-home"
        [label]="title()"
        (onClick)="goHome()"
        variant="text"
        severity="contrast"
      ></p-button>
    </ng-template>
    <ng-template #end>
      @if (debugManager.debugEnable()) {
        <small class="text-red-500 font-bold me-3">
          Debug is enabled
          <p-button
            size="small"
            label="Desactivate"
            variant="text"
            severity="danger"
            (onClick)="debugManager.toggleDebug()"
          ></p-button>
        </small>
      }

      <div class="flex items-center gap-2">
        <bifi-app-user-panel></bifi-app-user-panel>
      </div>
    </ng-template>
  </p-toolbar>
}

<div
  class="w-full overflow-y-auto"
  [ngClass]="{
    'h-[calc(100vh-75px)]': loggedUser,
    'h-[100vh]': !loggedUser,
  }"
>
  <router-outlet></router-outlet>
  <p-toast></p-toast>
  <ngx-sonner-toaster position="bottom-right"></ngx-sonner-toaster>
</div>
