<main id="main-app-container">
  <mat-toolbar>
    @if (isSidenavAvailable()) {
      <button (click)="isOpened() ? closeSidenav() : openSidenav()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    }
    <button (click)="goHome()" mat-button>
      <mat-icon>house</mat-icon>
      {{ title() }}
    </button>
    <span class="spacer"></span>
    <button mat-button>
      <mat-icon>person</mat-icon>
      Admin
    </button>
  </mat-toolbar>
  <div id="router-outlet-container" class="mat-app-background mat-typography">
    <router-outlet></router-outlet>
    <p-toast></p-toast>
  </div>
</main>
