<h1 class="text-2xl font-bold mb-4">Currencies</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New Currency"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'currencies/create:view'"
  ></p-button>
  <p-button
    label="Exchange Rates"
    severity="secondary"
    icon="pi pi-arrows-h"
    [routerLink]="['../exchange-rates']"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by name, code or symbol"
  [searchFilters]="currencyFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [infiniteScroll]="true"
  [columns]="currencyColumns"
  [data]="currencies"
  [onClickRow]="goToEditCurrency"
  clickRowPermission="currencies/update:view"
>
  <ng-template #actions let-element>
    <bifi-app-buttons-actions
      (deleteClicked)="deleteCurrency(element._id)"
      resource="currencies"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
