<h1 class="text-2xl font-bold mb-4">Users</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New User"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'users:create'"
  ></p-button>
  <p-button
    label="Show Inactive"
    severity="info"
    [icon]="showInactiveStatus() ? 'pi pi-eye' : 'pi pi-eye-slash'"
    (onClick)="showInactiveRecords()"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by username, email, role or provider"
  [searchFilters]="userFilters"
></bifi-app-search-bar>

<bifi-app-table-layout [columns]="userColumns" [data]="users">
  <ng-template #actions let-row>
    @if (row.active) {
      <p-button
        severity="secondary"
        label="Edit"
        icon="pi pi-pencil"
        [routerLink]="['../edit/', row._id]"
        *bifiAppHasPermission="'users:update'"
      ></p-button>
    }
    @if (!row.active) {
      <p-button
        *bifiAppHasPermission="'users:update'"
        severity="secondary"
        label="Reactivate"
        (onClick)="reactiveUser(row._id)"
        icon="pi pi-eye"
      ></p-button>
    }
    <p-button
      *bifiAppHasPermission="'users:delete'"
      severity="danger"
      label="Delete"
      (onClick)="deleteUser(row._id)"
      icon="pi pi-trash"
      [disabled]="isUserSameAsLoggedInUser(row)"
    ></p-button>
  </ng-template>
</bifi-app-table-layout>
