<h1 class="text-2xl font-bold mb-4">Users</h1>

<bifi-app-search-bar
  label="Search by username, email, role or provider"
  [searchFilters]="userFilters"
></bifi-app-search-bar>

<bifi-app-table-layout [columns]="userColumns" [data]="users">
  <ng-template #actions let-row>
    <p-button
      severity="secondary"
      label="Edit"
      icon="pi pi-pencil"
      [routerLink]="['../edit/', row._id]"
      *bifiAppHasPermission="'users:update'"
    ></p-button>
    <p-button
      *bifiAppHasPermission="'users:delete'"
      severity="danger"
      label="Delete"
      (onClick)="deleteUser(row._id)"
      icon="pi pi-trash"
    ></p-button>
  </ng-template>
</bifi-app-table-layout>
