<h1 class="text-2xl font-bold mb-4">{{ 'pageTitle' | translate: {} : 'base-app/users' }}</h1>

<div class="flex gap-2 mb-4">
  <p-button
    [label]="'addNew' | translate: {} : 'base-app/users'"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'users/create:view'"
  ></p-button>
  <p-button
    [label]="(showInactiveStatus() ? 'showInactive' : 'showActive') | translate: {} : 'base-app/users'"
    severity="info"
    [icon]="showInactiveStatus() ? 'pi pi-circle-on' : 'pi pi-circle-off'"
    (onClick)="toggleInactiveRecords()"
  ></p-button>
</div>

<bifi-app-search-bar
  [label]="'searchPlaceholder' | translate: {} : 'base-app/users'"
  [searchFilters]="userFilters"
></bifi-app-search-bar>

<bifi-app-table-layout [infiniteScroll]="true" [columns]="userColumns" [data]="users">
  <ng-template #actions let-row>
    @if (row.active) {
      <p-button
        severity="secondary"
        [label]="'edit' | translate: {} : 'base-app/users'"
        icon="pi pi-pencil"
        [routerLink]="['../edit/', row._id]"
        *bifiAppHasPermission="'users/update:view'"
      ></p-button>
      <p-button
        *bifiAppHasPermission="'users:delete:model'"
        severity="danger"
        [label]="'inactivate' | translate: {} : 'base-app/users'"
        (onClick)="deleteUser(row._id)"
        icon="pi pi-trash"
        [disabled]="isUserSameAsLoggedInUser(row)"
        [tooltipDisabled]="!isUserSameAsLoggedInUser(row)"
        [pTooltip]="'cannotInactivateSelf' | translate: {} : 'base-app/users'"
        tooltipPosition="top"
      ></p-button>
    } @else {
      <p-button
        *bifiAppHasPermission="'users:update:model'"
        severity="secondary"
        [label]="'reactivate' | translate: {} : 'base-app/users'"
        (onClick)="reactiveUser(row._id)"
        icon="pi pi-eye"
      ></p-button>
    }
  </ng-template>
</bifi-app-table-layout>
