<h1 class="text-2xl font-bold mb-4">Contacts</h1>

<bifi-app-search-bar
  label="Search by name, last name, phone number and email"
  [searchFilters]="contactFilters"
></bifi-app-search-bar>

<bifi-app-table-layout [columns]="contactColumns" [data]="contacts">
  <ng-template #actions>
    <p-button
      *bifiAppHasPermission="'contacts:update'"
      severity="secondary"
      label="Edit"
      icon="pi pi-pencil"
    ></p-button>
    <p-button
      *bifiAppHasPermission="'contacts:delete'"
      severity="danger"
      label="Delete"
      icon="pi pi-trash"
    ></p-button>
  </ng-template>
</bifi-app-table-layout>
