<h1 class="text-2xl font-bold mb-4">Companies</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New Company"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'companies/create:view'"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by name, related contact, country and address"
  [searchFilters]="companyFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [infiniteScroll]="true"
  [columns]="companyColumns"
  [data]="companies"
  [onClickRow]="goToEditCompany"
  clickRowPermission="companies/update:view"
>
  <ng-template #actions let-element>
    <p-button
      severity="secondary"
      label="View"
      icon="pi pi-eye"
      routerLink="../detail/{{ element._id }}"
      (onClick)="$event.stopPropagation(); $event.preventDefault()"
    ></p-button>
    <bifi-app-buttons-actions
      (deleteClicked)="deleteCompany(element._id)"
      resource="companies"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
