<h1 class="text-2xl font-bold mb-4">{{ 'pageTitle' | translate: {} : 'base-app/companies' }}</h1>

<div class="flex gap-2 mb-4">
  <p-button
    [label]="'addNew' | translate: {} : 'base-app/companies'"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'companies/create:view'"
  ></p-button>
</div>

<bifi-app-search-bar
  [label]="'searchPlaceholder' | translate: {} : 'base-app/companies'"
  [searchFilters]="companyFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [infiniteScroll]="true"
  [columns]="companyColumns"
  [data]="companies"
  [onClickRow]="goToEditCompany"
  clickRowPermission="companies/update:view"
  [scope]="'base-app/companies'"
>
  <ng-template #actions let-element>
    <p-button
      severity="secondary"
      [label]="'view' | translate: {} : 'base-app/companies'"
      icon="pi pi-eye"
      routerLink="../detail/{{ element._id }}"
      (onClick)="$event.stopPropagation(); $event.preventDefault()"
    ></p-button>
    <bifi-app-buttons-actions
      (deleteClicked)="deleteCompany(element._id)"
      resource="companies"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
