<h1 class="text-2xl font-bold mb-4">Companies</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New Company"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'companies/create:view'"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by name, related contact, country and address"
  [searchFilters]="companyFilters"
></bifi-app-search-bar>

<bifi-app-table-layout [columns]="companyColumns" [data]="companies">
  <ng-template #actions let-element>
    <p-button
      *bifiAppHasPermission="'companies/update:view'"
      severity="secondary"
      label="Edit"
      icon="pi pi-pencil"
      routerLink="../edit/{{ element._id }}"
    ></p-button>
    <p-button
      *bifiAppHasPermission="'companies:delete:model'"
      severity="danger"
      label="Delete"
      icon="pi pi-trash"
      (onClick)="deleteCompany(element._id)"
    ></p-button>
  </ng-template>
</bifi-app-table-layout>
