<bifi-app-form-layout
  title="{{ isUpdate() ? 'Update' : 'Create' }} Template"
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
    ></bifi-app-form-actions>

    @if (!loading()) {
      <bifi-app-form-section title="General information" id="form-general" [ordinal]="1">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <bifi-app-form-field>
            <bifi-app-form-label>Name</bifi-app-form-label>
            <input
              pInputText
              formControlName="name"
              type="text"
              placeholder="e.g Landing page view"
            />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Directory</bifi-app-form-label>
            <input
              pInputText
              formControlName="directory"
              type="text"
              placeholder="e.g ./website/.."
            />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Filename</bifi-app-form-label>
            <input
              pInputText
              formControlName="filename"
              type="text"
              placeholder="e.g landing-page.html"
            />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>MIME Type</bifi-app-form-label>
            <p-select formControlName="mimeType" [options]="mimeTypeOptions"></p-select>
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>
        </div>
      </bifi-app-form-section>

      <bifi-app-form-section title="Template Editor" id="template-editor" [ordinal]="2">
        <bifi-app-form-field>
          <bifi-app-form-code-editor
            [diffMode]="true"
            [leftFormControl]="form.controls.codeOriginal"
            [rightFormControl]="form.controls.codeCustom"
            [language]="mimeType()"
          ></bifi-app-form-code-editor>
          <bifi-app-form-error></bifi-app-form-error>
        </bifi-app-form-field>
      </bifi-app-form-section>
    } @else if (error()) {
      <p>Something went wrong... {{ error() }}</p>
    } @else {
      <p-progress-bar mode="indeterminate" [className]="'w-full h-[5px]'"></p-progress-bar>
    }
  </form>
</bifi-app-form-layout>
