<bifi-app-form-layout
  [title]="(isUpdate() ? 'form.pageTitle.update' : 'form.pageTitle.create') | translate: {} : 'base-app/search-destinations'"
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
    ></bifi-app-form-actions>

    @if (!isLoading()) {
      <bifi-app-form-section [title]="'form.destination.title' | translate: {} : 'base-app/search-destinations'" id="destination-details" [ordinal]="1">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.destination.label' | translate: {} : 'base-app/search-destinations' }}</bifi-app-form-label>
            <input pInputText formControlName="label" [placeholder]="'form.destination.labelPlaceholder' | translate: {} : 'base-app/search-destinations'" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.destination.group' | translate: {} : 'base-app/search-destinations' }}</bifi-app-form-label>
            <input pInputText formControlName="group" [placeholder]="'form.destination.groupPlaceholder' | translate: {} : 'base-app/search-destinations'" />
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.destination.route' | translate: {} : 'base-app/search-destinations' }}</bifi-app-form-label>
            <input pInputText formControlName="route" [placeholder]="'form.destination.routePlaceholder' | translate: {} : 'base-app/search-destinations'" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.destination.key' | translate: {} : 'base-app/search-destinations' }}</bifi-app-form-label>
            <input
              pInputText
              formControlName="key"
              [placeholder]="'form.destination.keyPlaceholder' | translate: {} : 'base-app/search-destinations'"
              [readOnly]="isSystem()"
            />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.destination.icon' | translate: {} : 'base-app/search-destinations' }}</bifi-app-form-label>
            <input pInputText formControlName="icon" [placeholder]="'form.destination.iconPlaceholder' | translate: {} : 'base-app/search-destinations'" />
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.destination.resource' | translate: {} : 'base-app/search-destinations' }}</bifi-app-form-label>
            <input
              pInputText
              formControlName="resource"
              [placeholder]="'form.destination.resourcePlaceholder' | translate: {} : 'base-app/search-destinations'"
            />
          </bifi-app-form-field>
        </div>
      </bifi-app-form-section>

      <bifi-app-form-section [title]="'form.phrases.title' | translate: {} : 'base-app/search-destinations'" id="destination-phrases" [ordinal]="2">
        <bifi-app-form-field>
          <bifi-app-form-label>{{ 'form.phrases.phrasesLabel' | translate: {} : 'base-app/search-destinations' }}</bifi-app-form-label>
          <input
            pInputText
            formControlName="keywordsInput"
            [placeholder]="'form.phrases.phrasesPlaceholder' | translate: {} : 'base-app/search-destinations'"
          />
          <small class="text-gray-500">
            {{ 'form.phrases.phrasesHint' | translate: {} : 'base-app/search-destinations' }}
          </small>
        </bifi-app-form-field>

        <bifi-app-form-field class="mt-6">
          <bifi-app-form-label>{{ 'form.phrases.descriptionLabel' | translate: {} : 'base-app/search-destinations' }}</bifi-app-form-label>
          <textarea
            pTextarea
            formControlName="description"
            rows="2"
            [placeholder]="'form.phrases.descriptionPlaceholder' | translate: {} : 'base-app/search-destinations'"
          ></textarea>
        </bifi-app-form-field>
      </bifi-app-form-section>

      <bifi-app-form-section [title]="'form.status.title' | translate: {} : 'base-app/search-destinations'" id="destination-status" [ordinal]="3">
        <bifi-app-form-field>
          <bifi-app-form-label>{{ 'form.status.active' | translate: {} : 'base-app/search-destinations' }}</bifi-app-form-label>
          <p-toggleSwitch formControlName="active"></p-toggleSwitch>
        </bifi-app-form-field>
      </bifi-app-form-section>
    }

    @if (isLoading()) {
      <p-progress-bar mode="indeterminate" [style]="{ height: '5px' }"></p-progress-bar>
    }

    @if (error()) {
      <p class="text-red-500">{{ 'error.somethingWentWrong' | translate: {} : 'base-app/search-destinations' }} {{ error() }}</p>
    }
  </form>
</bifi-app-form-layout>
