<header
  class="flex gap-2 items-center {{ class() }}"
  [class.cursor-pointer]="collapsible()"
  [class.select-none]="collapsible()"
  (click)="collapsible() && toggle()"
  (keyup.enter)="collapsible() && toggle()"
  [tabindex]="collapsible() ? 0 : -1"
  [attr.role]="collapsible() ? 'button' : null"
>
  <h3 class="text-lg font-bold flex-1">
    @if (ordinal()) {
      <span class="me-1">{{ ordinal() }}.</span>
    }
    {{ title() }}
  </h3>
  @if (collapsible()) {
    <span
      class="pi text-gray-400"
      [class.pi-chevron-up]="!collapsed()"
      [class.pi-chevron-down]="collapsed()"
    ></span>
  }
</header>
@if (!collapsed()) {
  <p-divider></p-divider>
  <div class="mt-6">
    <ng-content></ng-content>
  </div>
}
