<h1 class="text-2xl font-bold mb-4">
  {{ 'translations.pageTitle' | translate: {} : 'base-app/translation' }}
</h1>

<div class="flex gap-2 mb-4">
  <p-button
    [label]="'translations.addNew' | translate: {} : 'base-app/translation'"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'translations/create:view'"
  ></p-button>
  <p-button
    [label]="'translations.exportCsv' | translate: {} : 'base-app/translation'"
    severity="secondary"
    icon="pi pi-download"
    (click)="exportCsv()"
    *bifiAppHasPermission="'translations/export:read:model'"
  ></p-button>
</div>

<bifi-app-search-bar
  [label]="'translations.searchPlaceholder' | translate: {} : 'base-app/translation'"
  [searchFilters]="translationFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [infiniteScroll]="true"
  [columns]="translationColumns"
  [data]="translations"
  [onClickRow]="goToEdit"
  clickRowPermission="translations/update:view"
  [scope]="'base-app/translation'"
>
  <ng-template #actions let-element>
    <bifi-app-buttons-actions
      (editClicked)="goToEdit(element)"
      (deleteClicked)="deleteTranslation(element._id)"
      resource="translations"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
