<bifi-app-form-layout
  [title]="(isUpdate() ? ('form.pageTitle.update' | translate: {} : 'base-app/branch-office') : ('form.pageTitle.create' | translate: {} : 'base-app/branch-office'))"
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
    ></bifi-app-form-actions>

    @if (!isLoading()) {
      <bifi-app-form-section [title]="'form.generalInfo.title' | translate: {} : 'base-app/branch-office'" id="branch-office-details" [ordinal]="1">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.generalInfo.company' | translate: {} : 'base-app/branch-office' }}</bifi-app-form-label>
            <p-select
              formControlName="companyId"
              [options]="companies() || []"
              optionLabel="name"
              optionValue="_id"
              [placeholder]="'form.generalInfo.companyPlaceholder' | translate: {} : 'base-app/branch-office'"
              [filter]="true"
            ></p-select>
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.generalInfo.branchName' | translate: {} : 'base-app/branch-office' }}</bifi-app-form-label>
            <input pInputText formControlName="name" [placeholder]="'form.generalInfo.branchNamePlaceholder' | translate: {} : 'base-app/branch-office'" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.generalInfo.branchCode' | translate: {} : 'base-app/branch-office' }}</bifi-app-form-label>
            <input pInputText formControlName="branchCode" [placeholder]="'form.generalInfo.branchCodePlaceholder' | translate: {} : 'base-app/branch-office'" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.generalInfo.address' | translate: {} : 'base-app/branch-office' }}</bifi-app-form-label>
            <input pInputText formControlName="address" [placeholder]="'form.generalInfo.addressPlaceholder' | translate: {} : 'base-app/branch-office'" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.generalInfo.phone' | translate: {} : 'base-app/branch-office' }}</bifi-app-form-label>
            <input pInputText formControlName="phone" [placeholder]="'form.generalInfo.phonePlaceholder' | translate: {} : 'base-app/branch-office'" />
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.generalInfo.email' | translate: {} : 'base-app/branch-office' }}</bifi-app-form-label>
            <input pInputText formControlName="email" [placeholder]="'form.generalInfo.emailPlaceholder' | translate: {} : 'base-app/branch-office'" />
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.generalInfo.country' | translate: {} : 'base-app/branch-office' }}</bifi-app-form-label>
            <p-select
              formControlName="countryId"
              [options]="countries() || []"
              optionLabel="name"
              optionValue="_id"
              [placeholder]="'form.generalInfo.countryPlaceholder' | translate: {} : 'base-app/branch-office'"
              [filter]="true"
              [showClear]="true"
            ></p-select>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.generalInfo.active' | translate: {} : 'base-app/branch-office' }}</bifi-app-form-label>
            <p-toggleSwitch formControlName="active"></p-toggleSwitch>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>{{ 'form.generalInfo.defaultBranch' | translate: {} : 'base-app/branch-office' }}</bifi-app-form-label>
            <p-toggleSwitch formControlName="isDefault"></p-toggleSwitch>
          </bifi-app-form-field>
        </div>
      </bifi-app-form-section>
    }

    @if (isLoading()) {
      <p-progress-bar mode="indeterminate" [style]="{ height: '5px' }"></p-progress-bar>
    }
  </form>
</bifi-app-form-layout>
