<h1 class="text-2xl font-bold mb-4">{{ 'pageTitle' | translate: {} : 'base-app/templates' }}</h1>

<div class="flex gap-2 mb-4">
  <p-button
    [label]="'addNew' | translate: {} : 'base-app/templates'"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'templates/create:view'"
  ></p-button>
</div>

<bifi-app-search-bar
  [label]="'searchPlaceholder' | translate: {} : 'base-app/templates'"
  [searchFilters]="templateFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [infiniteScroll]="true"
  [columns]="templateColumns"
  [data]="reportings"
  [onClickRow]="gotoEditTemplate"
  clickRowPermission="templates/update:view"
  [scope]="'base-app/templates'"
>
  <ng-template #actions let-element>
    <bifi-app-buttons-actions
      (deleteClicked)="deleteTemplate(element._id)"
      resource="templates"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
