<h1 class="text-2xl font-bold mb-4">Templates</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New Template"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'templates/create:view'"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by name, directory, filename and mime type"
  [searchFilters]="templateFilters"
></bifi-app-search-bar>

<bifi-app-table-layout
  [columns]="templateColumns"
  [data]="reportings"
  [onClickRow]="gotoEditTemplate"
  clickRowPermission="templates/update:view"
>
  <ng-template #actions let-element>
    <bifi-app-buttons-actions
      (deleteClicked)="deleteTemplate(element._id)"
      resource="templates"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
