<h1 class="text-2xl font-bold mb-4">Contacts</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Go Back"
    severity="secondary"
    icon="pi pi-arrow-left"
    [routerLink]="'/home'"
  ></p-button>
  <p-button
    label="Add New Contact"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'contacts:create'"
  ></p-button>
</div>

<bifi-app-search-bar
  label="Search by name, last name, phone number, parent and email"
  [searchFilters]="contactFilters"
></bifi-app-search-bar>

<bifi-app-table-layout [columns]="contactColumns" [data]="contacts">
  <ng-template #actions let-element>
    <p-button
      *bifiAppHasPermission="'contacts:update'"
      severity="secondary"
      label="Edit"
      icon="pi pi-pencil"
      [routerLink]="['../edit/', element._id]"
    ></p-button>
    <p-button
      *bifiAppHasPermission="'contacts:delete'"
      severity="danger"
      label="Delete"
      (onClick)="deleteContact(element._id)"
      icon="pi pi-trash"
    ></p-button>
  </ng-template>
</bifi-app-table-layout>
