<p-dialog
  [header]="'selectRole.title' | translate: {} : 'base-app/users'"
  [(visible)]="dialogState"
  [modal]="true"
  styleClass="w-full max-w-full sm:max-w-sm md:max-w-md"
>
  <bifi-app-form-field class="mb-8 min-h-40">
    <bifi-app-form-label>
      {{ 'selectRole.role' | translate: {} : 'base-app/users' }}
    </bifi-app-form-label>
    <p-select
      appendTo="body"
      [formControl]="role"
      [options]="roles()"
      optionLabel="name"
      optionValue="_id"
      [filter]="true"
    ></p-select>
    <bifi-app-form-error></bifi-app-form-error>
  </bifi-app-form-field>

  <bifi-app-form-actions
    [isSubmitting]="false"
    [formDisabled]="!role.valid || !role.value"
    (submitClicked)="handleSubmit()"
    (cancelClicked)="closeDialog()"
    [cancelLabel]="'selectRole.cancel' | translate: {} : 'base-app/users'"
    [formChanged]="true"
  ></bifi-app-form-actions>
</p-dialog>
