@if (hasControlAttached()) {
  <bifi-app-form-preview-container [variant]="variant()">
    @if (previewTemplate(); as template) {
      <ng-container
        *ngTemplateOutlet="
          template;
          context: {
            $implicit: formattedValue(),
            control: control(),
            variant: variant,
            fallback: 'notSet' | translate: {} : scope(),
          }
        "
      ></ng-container>
    } @else {
      <span>{{ formattedValue() || ('notSet' | translate: {} : scope()) }}</span>
    }
  </bifi-app-form-preview-container>
}
