<bifi-app-form-layout [title]="'createForm.pageTitle' | translate: {} : 'base-app/users'" titlePosition="center" class="block px-4 bg-gray-50 py-4">
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
    ></bifi-app-form-actions>

    <bifi-app-form-section [title]="'createForm.generalInformation' | translate: {} : 'base-app/users'" id="general-info" [ordinal]="1">
      <section class="w-full grid gap-3 sm:grid-cols-2">
        <bifi-app-form-field>
          <bifi-app-form-label>{{ 'createForm.name' | translate: {} : 'base-app/users' }}</bifi-app-form-label>
          <input pInputText formControlName="name" type="text" [placeholder]="'createForm.name' | translate: {} : 'base-app/users'" />
          <bifi-app-form-error></bifi-app-form-error>
        </bifi-app-form-field>

        <bifi-app-form-field>
          <bifi-app-form-label>{{ 'createForm.lastName' | translate: {} : 'base-app/users' }}</bifi-app-form-label>
          <input pInputText formControlName="lastName" type="text" [placeholder]="'createForm.lastName' | translate: {} : 'base-app/users'" />
          <bifi-app-form-error></bifi-app-form-error>
        </bifi-app-form-field>

        <bifi-app-form-field>
          <bifi-app-form-label>{{ 'createForm.email' | translate: {} : 'base-app/users' }}</bifi-app-form-label>
          <input pInputText formControlName="email" type="text" [placeholder]="'createForm.email' | translate: {} : 'base-app/users'" />
          <bifi-app-form-error></bifi-app-form-error>
        </bifi-app-form-field>

        <bifi-app-form-field>
          <bifi-app-form-label>{{ 'createForm.username' | translate: {} : 'base-app/users' }}</bifi-app-form-label>
          <input pInputText formControlName="username" type="text" [placeholder]="'createForm.username' | translate: {} : 'base-app/users'" />
          <bifi-app-form-error></bifi-app-form-error>
        </bifi-app-form-field>

        <bifi-app-form-field>
          <bifi-app-form-label>{{ 'createForm.password' | translate: {} : 'base-app/users' }}</bifi-app-form-label>
          <input type="password" pPassword formControlName="password" [placeholder]="'createForm.password' | translate: {} : 'base-app/users'" />
          <bifi-app-form-error></bifi-app-form-error>
        </bifi-app-form-field>
      </section>
    </bifi-app-form-section>

    <bifi-app-form-section [title]="'createForm.roles' | translate: {} : 'base-app/users'" id="roles" [ordinal]="2">
      <p-button
        [label]="'createForm.addRole' | translate: {} : 'base-app/users'"
        severity="secondary"
        icon="pi pi-plus"
        (onClick)="selectRoleDialog.openDialog()"
        styleClass="mb-4"
      ></p-button>

      <bifi-app-table-layout [columns]="roleCols" [data]="rolesData()" [scope]="'base-app/users'">
        <ng-template #actions let-row>
          <!-- <p-button severity="secondary" label="Edit" icon="pi pi-pencil"></p-button> -->
          <p-button
            severity="danger"
            [label]="'createForm.remove' | translate: {} : 'base-app/users'"
            icon="pi pi-trash"
            (click)="handleRoleRemove(row._id)"
          ></p-button>
        </ng-template>
      </bifi-app-table-layout>
    </bifi-app-form-section>
  </form>
</bifi-app-form-layout>

<bifi-app-select-role-dialog
  #selectRoleDialog
  (selected)="handleRoleSelect($event)"
></bifi-app-select-role-dialog>
