<h1 class="text-2xl font-bold mb-4">Roles</h1>

<div class="flex gap-2 mb-4">
  <p-button
    label="Add New Role"
    severity="secondary"
    icon="pi pi-plus"
    [routerLink]="['../create']"
    *bifiAppHasPermission="'roles/create:view'"
  ></p-button>
</div>

<bifi-app-search-bar label="Search by name" [searchFilters]="roleFilters"></bifi-app-search-bar>

<bifi-app-table-layout
  [infiniteScroll]="true"
  [columns]="roleColumns"
  [data]="roles"
  [onClickRow]="goToEditRole"
  clickRowPermission="roles/update:view"
>
  <ng-template #actions let-row>
    <bifi-app-buttons-actions
      (deleteClicked)="deleteRole(row._id)"
      resource="roles"
    ></bifi-app-buttons-actions>
  </ng-template>
</bifi-app-table-layout>
