<h1 class="text-2xl font-bold mb-4">Users</h1>

<bifi-app-search-bar
  label="Search by username, email or provider"
  [searchFilters]="userFilters"
></bifi-app-search-bar>

<bifi-app-table-layout [columns]="userColumns" [data]="users">
  <ng-template #actions let-row>
    <p-button
      severity="secondary"
      label="Edit"
      icon="pi pi-pencil"
      [routerLink]="['../edit/', row._id]"
    ></p-button>
    <p-button severity="danger" label="Delete" icon="pi pi-trash"></p-button>
  </ng-template>
</bifi-app-table-layout>
