<bifi-app-form-layout
  title="{{ isUpdate() ? 'Update' : 'Create' }} Company"
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
    ></bifi-app-form-actions>

    @if (!loading()) {
      <bifi-app-form-section title="Company information" id="form-general" [ordinal]="1">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <bifi-app-form-field>
            <bifi-app-form-label>Name</bifi-app-form-label>
            <input pInputText formControlName="name" type="text" placeholder="e.g Company S.A." />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Country</bifi-app-form-label>
            <p-select
              formControlName="countryId"
              [options]="countries()"
              optionLabel="name"
              optionValue="_id"
              [filter]="true"
            ></p-select>
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Address</bifi-app-form-label>
            <input
              pInputText
              formControlName="address"
              type="text"
              placeholder="e.g Center of..."
            />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Related to Contact:</bifi-app-form-label>
            <p-select
              formControlName="contactId"
              [options]="contacts()"
              optionLabel="name"
              optionValue="_id"
              [filter]="true"
            ></p-select>
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Default Currency</bifi-app-form-label>
            <p-select
              formControlName="defaultCurrencyId"
              [options]="currencies()"
              optionLabel="name"
              optionValue="_id"
              [filter]="true"
              [showClear]="true"
              placeholder="Select currency (optional)"
            ></p-select>
          </bifi-app-form-field>
        </div>
      </bifi-app-form-section>
    } @else if (error()) {
      <p>Something went wrong... {{ error() }}</p>
    } @else {
      <p-progress-bar mode="indeterminate" [className]="'w-full h-[5px]'"></p-progress-bar>
    }
  </form>
</bifi-app-form-layout>
