<p-dialog
  header="Select Child Contact"
  [(visible)]="dialogState"
  [modal]="true"
  styleClass="w-full max-w-full sm:max-w-sm md:max-w-md"
>
  <bifi-app-form-field class="mb-8 min-h-40">
    <bifi-app-form-label>Policy</bifi-app-form-label>
    <p-multiSelect
      [formControl]="childContact"
      [options]="childContactOptions()"
      optionLabel="name"
      optionValue="_id"
      [filter]="true"
    ></p-multiSelect>
    <bifi-app-form-error></bifi-app-form-error>
  </bifi-app-form-field>

  <bifi-app-form-actions
    [isSubmitting]="false"
    [formDisabled]="!childContact.valid || !childContact.value"
    (submitClicked)="handleSubmit()"
    (cancelClicked)="closeDialog()"
    cancelLabel="Cancel"
    saveLabel="Select"
    [formChanged]="true"
  ></bifi-app-form-actions>
</p-dialog>
