<p-dialog
  [header]="'selectChildContact.header' | translate: {} : 'base-app/contacts'"
  [(visible)]="dialogState"
  [modal]="true"
  styleClass="w-full max-w-full sm:max-w-sm md:max-w-md"
>
  <bifi-app-form-field class="mb-8 min-h-40">
    <bifi-app-form-label>
      {{ 'selectChildContact.children' | translate: {} : 'base-app/contacts' }}
    </bifi-app-form-label>
    <p-multiSelect
      appendTo="body"
      [formControl]="childContact"
      [options]="childContactOptions()"
      optionLabel="name"
      optionValue="_id"
      [filter]="true"
    >
      <ng-template #footer>
        <bifi-app-form-select-navigate-footer
          resource="contacts"
          label="Other contact +"
          controlName="childIds"
          [draftFormValue]="draftFormValue()"
          [createRoute]="['/contacts', 'create']"
          #contactFooter
        >
        </bifi-app-form-select-navigate-footer>
      </ng-template>
    </p-multiSelect>
    <bifi-app-form-error></bifi-app-form-error>
  </bifi-app-form-field>

  <bifi-app-form-actions
    [isSubmitting]="false"
    [formDisabled]="!childContact.valid || !childContact.value"
    (submitClicked)="handleSubmit()"
    (cancelClicked)="closeDialog()"
    [cancelLabel]="'selectChildContact.cancel' | translate: {} : 'base-app/contacts'"
    [saveLabel]="'selectChildContact.select' | translate: {} : 'base-app/contacts'"
    [formChanged]="true"
  ></bifi-app-form-actions>
</p-dialog>
