<bifi-app-form-layout
  title="{{ isUpdate() ? 'Update' : 'Create' }} Role"
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
    ></bifi-app-form-actions>

    @if (!loading()) {
      <bifi-app-form-section title="General information" id="general-info" [ordinal]="1">
        <section class="w-full grid gap-3 sm:grid-cols-2">
          <bifi-app-form-field>
            <bifi-app-form-label>Name</bifi-app-form-label>
            <input pInputText formControlName="name" type="text" placeholder="Role name" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <!-- <bifi-app-form-field>
            <bifi-app-form-label>Active</bifi-app-form-label>
            <p-inputSwitch formControlName="active"></p-inputSwitch>
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field> -->
        </section>
      </bifi-app-form-section>

      <bifi-app-form-section title="Policies" id="policies" [ordinal]="2">
        <p-button
          label="Add New Policy"
          severity="secondary"
          icon="pi pi-plus"
          (onClick)="selectPolicyDialog.openDialog()"
          styleClass="mb-4"
        ></p-button>

        <p-tabs value="0" formArrayName="policies">
          <p-tablist>
            <p-tab value="0">Models</p-tab>
            <p-tab value="1">Menus</p-tab>
            <p-tab value="2">List</p-tab>
          </p-tablist>
          <p-tabpanels>
            <p-tabpanel value="0">
              <table class="w-full mb-4 mt-4 table p-4! shadow-xl rounded-2xl">
                <thead>
                  <tr class="font-bold">
                    <th class="text-start ps-2">Policy</th>
                    <th>Read</th>
                    <th>Create</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (group of form.controls.policies.controls; track group; let i = $index) {
                    @let policy = getPolicy(group.value.policyId || '');

                    @if (policy?.type === 'model') {
                      <tr [formGroup]="group" class="border-b-2 border-primary-100">
                        <td class="ps-2">
                          <span class="w-auto overflow-hidden overflow-ellipsis">
                            {{ policy?.name || 'No name provided' }}
                          </span>
                        </td>
                        <td>
                          <div class="flex flex-row justify-center items-center m-4">
                            <p-checkbox formControlName="actions" value="read"></p-checkbox>
                          </div>
                        </td>
                        <td>
                          <div class="flex flex-row justify-center items-center m-4">
                            <p-checkbox formControlName="actions" value="create"></p-checkbox>
                          </div>
                        </td>
                        <td>
                          <div class="flex flex-row justify-center items-center m-4">
                            <p-checkbox formControlName="actions" value="update"></p-checkbox>
                          </div>
                        </td>
                        <td>
                          <div class="flex flex-row justify-center items-center m-4">
                            <p-checkbox formControlName="actions" value="delete"></p-checkbox>
                          </div>
                        </td>
                        <td>
                          <p-button
                            severity="danger"
                            variant="text"
                            icon="pi pi-trash"
                            (click)="handlePolicyRemove(policyData()[i]._id)"
                          ></p-button>
                        </td>
                      </tr>
                    }
                  }
                </tbody>
              </table>
            </p-tabpanel>
            <p-tabpanel value="1">
              <table class="w-full mb-4 mt-4 table p-4! shadow-xl rounded-2xl">
                <thead>
                  <tr class="font-bold">
                    <th class="text-start ps-2">Policy</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (group of form.controls.policies.controls; track group; let i = $index) {
                    @let policy = getPolicy(group.value.policyId || '');

                    @if (policy?.type === 'menu') {
                      <tr [formGroup]="group" class="border-b-2 border-primary-100">
                        <td class="ps-2">
                          <span class="w-auto overflow-hidden overflow-ellipsis">
                            {{ policy?.name || 'No name provided' }}
                          </span>
                        </td>
                        <td>
                          <p-button
                            severity="danger"
                            variant="text"
                            icon="pi pi-trash"
                            (click)="handlePolicyRemove(policyData()[i]._id)"
                          ></p-button>
                        </td>
                      </tr>
                    }
                  }
                </tbody>
              </table>
            </p-tabpanel>
            <p-tabpanel value="2">
              <table class="w-full mb-4 mt-4 table p-4! shadow-xl rounded-2xl">
                <thead>
                  <tr class="font-bold">
                    <th class="text-start ps-2">Policy</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (group of form.controls.policies.controls; track group; let i = $index) {
                    @let policy = getPolicy(group.value.policyId || '');

                    @if (policy?.type === 'view') {
                      <tr [formGroup]="group" class="border-b-2 border-primary-100">
                        <td class="ps-2">
                          <span class="w-auto overflow-hidden overflow-ellipsis">
                            {{ policy?.name || 'No name provided' }}
                          </span>
                        </td>
                        <td>
                          <p-button
                            severity="danger"
                            variant="text"
                            icon="pi pi-trash"
                            (click)="handlePolicyRemove(policyData()[i]._id)"
                          ></p-button>
                        </td>
                      </tr>
                    }
                  }
                </tbody>
              </table>
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
        <bifi-app-form-error formArrayName="policies"></bifi-app-form-error>
      </bifi-app-form-section>
    } @else if (error()) {
      <p>Something went wrong... {{ error() }}</p>
    } @else {
      <p-progress-bar mode="indeterminate" [className]="'w-full h-[5px]'"></p-progress-bar>
    }
  </form>
</bifi-app-form-layout>

<bifi-app-select-policy-dialog
  #selectPolicyDialog
  (selected)="handlePolicySelect($event)"
></bifi-app-select-policy-dialog>
