<section id="main-menu-container">
  <div id="main-menu-options-container">
    @for (item of menuItems(); track $index) {
      @if (item['showInMainMenu']) {
        <a
          [routerLink]="item.routerLink"
          class="bg-primary-100 rounded-md p-7 flex flex-col gap-2 items-center font-bold hover:bg-primary-200 text-xl w-[200px] shadow-xl"
          *bifiAppHasPermission="item['resource'] ? `${item['resource']}:menu` : undefined"
        >
          <span [bifiAppIcon]="'lg'" [class]="item.icon"></span>
          <span class="w-full overflow-ellipsis text-nowrap overflow-hidden text-center">
            {{ item.label }}
          </span>
        </a>
      }
    }
  </div>
</section>
