<bifi-app-form-layout
  [title]="isUpdate() ? 'Edit Currency' : 'New Currency'"
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
      [formChanged]="form.dirty"
    ></bifi-app-form-actions>

    @if (!isLoading()) {
      <bifi-app-form-section title="Currency Details" id="currency-details" [ordinal]="1">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <bifi-app-form-field>
            <bifi-app-form-label>Name *</bifi-app-form-label>
            <input pInputText formControlName="name" placeholder="e.g. US Dollar" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>ISO Code *</bifi-app-form-label>
            <input pInputText formControlName="code" placeholder="e.g. USD" maxlength="3" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Symbol *</bifi-app-form-label>
            <input pInputText formControlName="symbol" placeholder="e.g. $" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Decimal Precision</bifi-app-form-label>
            <p-inputNumber formControlName="decimalPrecision" [min]="0" [max]="8"></p-inputNumber>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Active</bifi-app-form-label>
            <p-toggleSwitch formControlName="active"></p-toggleSwitch>
          </bifi-app-form-field>

          <bifi-app-form-field>
            <bifi-app-form-label>Default Currency</bifi-app-form-label>
            <p-toggleSwitch formControlName="isDefault"></p-toggleSwitch>
          </bifi-app-form-field>
        </div>
      </bifi-app-form-section>
    }

    @if (isLoading()) {
      <p-progress-bar mode="indeterminate" [style]="{ height: '5px' }"></p-progress-bar>
    }
  </form>
</bifi-app-form-layout>
