<bifi-app-form-layout
  title="{{ isUpdate() ? 'Update' : 'Create' }} Role"
  titlePosition="center"
  class="block px-4 bg-gray-50 py-4"
>
  <form
    ngProjectAs="div"
    [formGroup]="form"
    bifiAppFormActionsHandler
    (appSubmit)="handleSubmit($event)"
    class="min-h-screen flex flex-col gap-6"
  >
    <bifi-app-form-actions
      [isSubmitting]="isSubmitLoading()"
      (cancelClicked)="goBack()"
      class="mb-4"
    ></bifi-app-form-actions>

    @if (!loading()) {
      <bifi-app-form-section title="General information" id="general-info" [ordinal]="1">
        <section class="w-xl grid gap-3 sm:grid-cols-2">
          <bifi-app-form-field>
            <bifi-app-form-label>Name</bifi-app-form-label>
            <input pInputText formControlName="name" type="text" placeholder="Role name" />
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field>

          <!-- <bifi-app-form-field>
            <bifi-app-form-label>Active</bifi-app-form-label>
            <p-inputSwitch formControlName="active"></p-inputSwitch>
            <bifi-app-form-error></bifi-app-form-error>
          </bifi-app-form-field> -->
        </section>
      </bifi-app-form-section>

      <bifi-app-form-section title="Policies" id="policies" [ordinal]="2">
        <p-button
          label="Add New Policy"
          severity="secondary"
          icon="pi pi-plus"
          (onClick)="selectPolicyDialog.openDialog()"
          styleClass="mb-4"
        ></p-button>

        <bifi-app-table-layout [columns]="policyCols" [data]="policyData()">
          <ng-template #actions let-row>
            <!-- <p-button severity="secondary" label="Edit" icon="pi pi-pencil"></p-button> -->
            <p-button
              severity="danger"
              label="Remove"
              icon="pi pi-trash"
              (click)="handlePolicyRemove(row._id)"
            ></p-button>
          </ng-template>
        </bifi-app-table-layout>

        <bifi-app-form-error formArrayName="policies"></bifi-app-form-error>
      </bifi-app-form-section>
    } @else if (error()) {
      <p>Something went wrong... {{ error() }}</p>
    } @else {
      <p-progress-bar mode="indeterminate" [className]="'w-full h-[5px]'"></p-progress-bar>
    }
  </form>
</bifi-app-form-layout>

<bifi-app-select-policy-dialog
  #selectPolicyDialog
  (selected)="handlePolicySelect($event)"
></bifi-app-select-policy-dialog>
